.profile-picture img {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 50%;
  width: 20rem;
}

.about-name {
  font-size: 1.8rem;
}

.about-text {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  color: var(--ft-about-text);
}
