.projects {
  max-width: calc(100vw - 2rem);
  padding:  0 1rem;
}

.swiper {
  padding: 3rem;
  border-radius: 1rem;
}


.swiper-slide {
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(160, 160, 160);
  border-radius: 8px;
}

.swiper-slide img {
  width: 100%;
}

.swiper-description {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.swiper-description-title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.swipper-links a{
  text-decoration: none;
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 4px;
  display: block;
}