.contact-img svg g {
  fill: var(--fill-icon)
}

.contact p {
  font-size: 1.5rem;
}


.contact-img {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-img svg {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .contact p {
    font-size: 2rem;
  }
  .contact-img svg {
    width: 6rem;
    height: 6rem;
  }
}