.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 2rem);
  padding: 0 2rem;
}

.item p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.item-title {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1rem;
}

.item-links {
  display: grid;
  gap: 1rem;
}

.item-links a {
  text-decoration: none;
}

.item-links button{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  border: 1px solid var(--link-card);
  color: var(--link-card);
  border-radius: 4px;
  padding:  1rem ;
  
}

.item {
  border: 1px solid;
  padding: 2rem;
  border-radius: 4px;
}




