@import url("./header.css");
@import url("./main.css");
@import url("./about.css");
@import url("./skills.css");
@import url("./projects.css");
@import url("./contato.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}


:root {
  font-size: 62.5%;

  --theme-dark: #ffffff;

  --ft-header: var(--theme-dark);
  --ft-link: var(--theme-dark);
  --ft-link-hover: var(--theme-dark);
  --ft-main: var(--theme-dark);
  --ft-menu-hover: black;
  --ft-about-text: #b1acac;
  --color-icon-hover: black;
  --link-card: var(--theme-dark)

  --bg-card-link-hover: var(--theme-dark);
  --bg-icon-hover: var(--theme-dark);
  --bg-body: #1f1e1e;
  --bg-header: #202020;
  --bg-menu-hover: var(--theme-dark);
  --fill-icon: var(--theme-dark)

  --color-btn: var(--theme-dark);
}

.light {
  --theme-light: black;

  --ft-header: var(--theme-light);
  --ft-link: var(--theme-light);
  --ft-link-hover: var(--theme-light);
  --ft-main: var(--theme-light);
  --ft-about-text: #272727;
  --ft-menu-hover: var(--theme-dark);
  --link-card: var(--theme-light);
  --color-icon-hover: var(--theme-dark);

  --bg-card-link-hover: var(--theme-light);
  --bg-icon-hover: var(--theme-light);
  --bg-body: #eeeeee;
  --bg-header: #eeeeee;
  --bg-menu-hover: var(--theme-light);
  --fill-icon: var(--theme-light);


  --color-btn: var(--theme-light);
}

body {
  background-color: var(--bg-body);
  font-family: "Poppins", sans-serif;
  transition: ease 0.5s;
}
